*{
    margin: 0;
    padding: 0;
}
body{
    background-color:#fbc4ab;
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:1.5vmin;
}
.box{
    background-color: blanchedalmond;
    height: 19vmin;
    width: 19vmin;
    border-radius: 15px;
    border: none;
    box-shadow: 10px 10px lightcoral ;
    font-size: 9vmin;
}
.reset-btn{
    width: 14vh;
    border-radius: 10px;
}
.reset-btn:hover{
    color:coral;
    background-color: blanchedalmond;
}
#msg{
    color: rgb(238, 174, 57);
    font-family: fantasy;
    font-size: 50px;
    
}
.hide{
    display: none;
}
.new-btn{
    width: 14vh;
    border-radius: 10px;
}
.new-btn:hover{
    color:coral;
    background-color: blanchedalmond;
}